<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Length converter</title>
</head>
<body>
<h1>Length converter</h1>
<p>
    Using the SOAP service
    <a href="http://www.webservicex.net/New/Home/ServiceDetail/21">
        http://www.webservicex.net/New/Home/ServiceDetail/21
    </a>
</p>

{{ value }} {{ fromUnit }} = {{ result }} {{ toUnit }}

</body>
</html>